include /_mixins


doctype html
html(lang='en')
    head
        title= 'Entu CMS'

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        +style('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin-ext,cyrillic-ext')
        +style('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        +style('/style.css')

    body(data-spy='scroll', data-target='#toc')
        .container-fluid
            .row
                .col-xs-12.col-sm-12.col-md-3.col-lg-2
                    nav#toc(data-spy='affix', data-toggle='toc')
                .col-xs-12.col-sm-12.col-md-9.col-lg-8
                    include:markdown-it ../../README.md

        +script('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        +script('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        +script('https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js')
