- var basePath = './assets/'
- var fileVersion = Math.floor(Date.now() / 1000)



mixin input(id, name, label)
    label(for=id)= label
    input(id=id, name=name)



mixin option(options)
    if options
        each o in options
            option(value=o.value, selected=o.selected)= o.label



mixin a(href, name, prefix, suffix, target)
    if prefix
        = prefix
    a(
        href = (href.substr(0, 5) === 'http:' || href.substr(0, 6) === 'https:' || href.substr(0, 2) === '//'  || href.substr(0, 7) === 'mailto:' ) ? href : basePath+'files/' + href,
        target = target
    )&attributes(attributes)= name
    if suffix
        = suffix



mixin img(src, width, height, alt)
    - alt = alt || ''
    img(
        src = (src.substr(0, 5) === 'http:' || src.substr(0, 6) === 'https:' || src.substr(0, 2) === '//' ) ? src : basePath+'images/' + src + '?v=' + fileVersion,
        width = width,
        height = height,
        alt = alt
    )&attributes(attributes)



mixin style(href)
    link(
        href = (href.substr(0, 5) === 'http:' || href.substr(0, 6) === 'https:' || href.substr(0, 1) === '/' ) ? href : './' + page.language + '/' + href + '?v=' + fileVersion,
        rel = 'stylesheet',
        type = 'text/css'
    )



mixin script(src)
    script(
        src = (src.substr(0, 5) === 'http:' || src.substr(0, 6) === 'https:' || src.substr(0, 1) === '/' ) ? src : basePath+'scripts/' + src + '?v=' + fileVersion
    )



mixin markdown(text)
    | !{ G.md(text) }
